root = true

[*]
charset=utf-8
insert_final_newline=true
indent_style=space
indent_size=4

[*.xml]
indent_size=2

[*.yml]
indent_size=2

[*.html]
indent_size=2

[*.properties]
charset=latin1

[*.sql]
indent_size=2

[*.json]
indent_size=2

[zpa-checks/src/integrationTest/resources/expected/**/*.json]
insert_final_newline = false
ij_any_space_before_colon = true
