[submodule "its/sources/pljson"]
	path = zpa-checks/src/integrationTest/resources/sources/pljson
	url = https://github.com/pljson/pljson.git
	ignore = dirty
[submodule "its/sources/alexandria-plsql-utils"]
	path = zpa-checks/src/integrationTest/resources/sources/alexandria-plsql-utils
	url = https://github.com/mortenbra/alexandria-plsql-utils.git
	ignore = dirty
[submodule "its/sources/utPLSQL"]
	path = zpa-checks/src/integrationTest/resources/sources/utPLSQL2
	url = https://github.com/utPLSQL/utPLSQL.git
	ignore = dirty
[submodule "its/sources/utPLSQL3"]
	path = zpa-checks/src/integrationTest/resources/sources/utPLSQL3
	url = https://github.com/utPLSQL/utPLSQL/
	ignore = dirty
[submodule "its/sources/Doag-Forms"]
	path = zpa-checks/src/integrationTest/resources/sources/Doag-Forms
	url = https://github.com/Doag/Forms.git
	ignore = dirty
