name: Build

on:
  push:
    branches:
      - "*"
  pull_request:
    branches:
      - main

env:
  JAVA_VERSION: 21

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          submodules: true

      - uses: actions/setup-java@v5
        with:
          distribution: temurin
          java-version: ${{ env.JAVA_VERSION }}

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5

      - name: Build with Gradle
        run: ./gradlew build jreleaserAssemble publishToMavenLocal

      - name: Run zpa-checks integration tests
        run: |
          ./gradlew :zpa-checks:integrationTest --rerun
          cat zpa-checks/build/integrationTest/progress-summary.md >> $GITHUB_STEP_SUMMARY

      - name: Build custom rules example
        run: ./gradlew build -p plsql-custom-rules

      - name: Upload build artifacts
        uses: actions/upload-artifact@v6
        with:
          name: build-artifacts
          path: |
            **/build/
            zpa-checks/tools/
          retention-days: 1

  integration-tests:
    name: IT
    needs: build
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        sqVersion:
          - 25.8.0.112029
          - 25.11.0.114957
          - 25.12.0.117093
          - 26.1-SNAPSHOT
    steps:
      - uses: actions/checkout@v6

      - uses: actions/setup-java@v5
        with:
          distribution: temurin
          java-version: ${{ env.JAVA_VERSION }}

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5

      - name: Download build artifacts
        uses: actions/download-artifact@v7
        with:
          name: build-artifacts

      - name: Run plugin integration test
        run: |
          if [[ "$SQ_VERSION" == *"SNAPSHOT"* ]]; then
            FOLDER="snapshots"
          else
            FOLDER="releases"
          fi
          
          FILE_NAME="sonar-application-${SQ_VERSION}.zip"
          DOWNLOAD_URL="https://$OCI_NAMESPACE.objectstorage.sa-saopaulo-1.oci.customer-oci.com/p/$OCI_PAR/n/$OCI_NAMESPACE/b/build-artifacts/o/${FOLDER}/${FILE_NAME}"
          
          curl -s -L -f -o "sonar-zpa-plugin/${FILE_NAME}" "$DOWNLOAD_URL"
          ./gradlew :sonar-zpa-plugin:integrationTest -Dsonar.zipFile=$FILE_NAME --rerun --info
        env:
          SQ_VERSION: ${{ matrix.sqVersion }}
          OCI_NAMESPACE: ${{ secrets.OCI_NAMESPACE }}
          OCI_PAR: ${{ secrets.OCI_PAR }}

  release:
    name: Release
    needs: integration-tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - uses: actions/setup-java@v5
        with:
          distribution: temurin
          java-version: ${{ env.JAVA_VERSION }}

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5

      - name: Download build artifacts
        uses: actions/download-artifact@v7
        with:
          name: build-artifacts

      - name: Generate plsql-custom-rules archive
        run: git archive --format=zip -o build/plsql-custom-rules.zip HEAD:plsql-custom-rules

      - name: Create local Maven repository
        run: ./gradlew publish

      - if: github.ref == 'refs/heads/main'
        name: Run SonarQube Scanner
        run: ./gradlew sonar --info
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
          SONAR_HOST_URL: ${{ secrets.SONAR_HOST_URL }}

      - if: github.ref == 'refs/heads/main'
        name: Release artifacts
        run: ./gradlew jreleaserFullRelease
        env:
          JRELEASER_MAVENCENTRAL_USERNAME: ${{ secrets.MAVEN_USERNAME }}
          JRELEASER_MAVENCENTRAL_PASSWORD: ${{ secrets.MAVEN_PASSWORD }}
          JRELEASER_NEXUS2_USERNAME: ${{ secrets.MAVEN_USERNAME }}
          JRELEASER_NEXUS2_PASSWORD: ${{ secrets.MAVEN_PASSWORD }}
          JRELEASER_GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          JRELEASER_GPG_PUBLIC_KEY: ${{ secrets.GPG_PUBLIC_KEY }}
          JRELEASER_GPG_SECRET_KEY: ${{ secrets.GPG_SECRET_KEY }}
          JRELEASER_GPG_PASSPHRASE: ${{ secrets.GPG_KEY_PASSWORD }}

  dependency-submission:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v6

      - name: Generate and submit dependency graph
        uses: gradle/actions/dependency-submission@v5
